
<h2>BookInstance</h2>
<table border="1">
    <thead>
        <tr>
            <th>STATUS_CHOICES</th>
            <th>book</th>
            <th>imprint</th>
            <th>due_back</th>
        </tr>
    </thead>
    <tbody>
        {% for a in BookInstances %}
            <tr>
                <td>{{ a.STATUS_CHOICES }}</td>
                <td>{{ a.book }}</td>
                <td>{{ a.imprint }}</td>
                <td>{{ a.due_back }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>